<!doctype html>
<html>
    <head>
	<title>Hello from Flask</title>
    </head>
    <body>
	<pre id="board">{{ board }}</pre>
	<script type="text/javascript">
	    function reloadBoard() {
      	        var xhr = new XMLHttpRequest();
	        xhr.onreadystatechange = function() {
	            if (xhr.readyState === 4 && xhr.status === 200) {
	                document.getElementById('board').innerHTML = xhr.responseText;
	            }
	        }
	        xhr.open('GET', '/board', true);
	        xhr.send();
	        setTimeout(reloadBoard, 5000);
	    }

	    reloadBoard();
	</script>
    </body>
</html>
